<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8"/>
    <title>LED clock service</title>
    <link rel="stylesheet" type="text/css" th:href="@{css/style.css}"/>
</head>
<body>
<h2>
    <table class="table1">
        <tr>
            <th><a href="./">MAIN</a></th>
            <th><a href="./online">ONLINE</a></th>
            <th><a href="./offline">OFFLINE</a></th>
            <th><a href="./all">ALL</a></th>
            <th><a href="./help">HELP</a></th>
            <th th:utext="${time}"></th>
        </tr>
    </table>
</h2>

<h2 th:utext="${location}">LOCATION</h2>

Хелп

</body>
</html>